{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/dual_color_control.css' %}" type="text/css" media="screen" charset="utf-8" />

<div class="row">
  <div class="color_control col-xs-2">
    Dual Lands:
  </div>

  <div class="color_control col-xs-2">
    <img class="azorius img-responsive">
    <form>
      <input type="number" id="azorius_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="boros img-responsive">
    <form>
      <input type="number" id="boros_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="dimir img-responsive">
    <form>
      <input type="number" id="dimir_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="golgari img-responsive">
    <form>
      <input type="number" id="golgari_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="gruul img-responsive">
    <form>
      <input type="number" id="gruul_count" min="0" max="100">
    </form>
  </div>
</div>

<div class="row">

  <div class="color_control col-xs-2 col-xs-offset-2">
    <img class="izzit img-responsive">
    <form>
      <input type="number" id="izzit_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="orzhov img-responsive">
    <form>
      <input type="number" id="orzhov_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="rakdos img-responsive">
    <form>
      <input type="number" id="rakdos_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="selesnya img-responsive">
    <form>
      <input type="number" id="selesnya_count" min="0" max="100">
    </form>
  </div>

  <div class="color_control col-xs-2">
    <img class="simic img-responsive">
    <form>
      <input type="number" id="simic_count" min="0" max="100">
    </form>
  </div>

</div>