.color_control .white, .color_control .blue, .color_control .black, .color_control .green, .color_control .red, .color_control .colorless {
    display: inline;
    height:1.5em;
    width:1.5em;
}

.color_control form {
    display: inline-block;
}

.color_control .black {
    background-color: black;
}
.color_control .blue {
    background-color: blue;
}
.color_control .white {
    background-color: white;
}
.color_control .green {
    background-color: green;
}
.color_control .red {
    background-color: red;
}
.color_control .colorless {
    background-color: gray;
}